<div class="col col-md-2">
    <ul class="nav flex-column gap-2">
        <li class="nav-item">
            <a class="nav-link text-black p-3" aria-current="page" href="{% url 'profile' %}">ویرایش
                اطلاعات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black p-3" aria-current="page" href="{% url 'change_password' %}">تغییر رمز عبور</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black p-3" aria-current="page" href="{% url 'orders' %}">سبد خرید</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black p-3" aria-current="page" href="{% url 'downloads' %}">دانلود ها</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black p-3" aria-current="page" href="{% url 'user_questions' %}">سوالات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-danger p-3" aria-current="page" href="{% url 'logout' %}">خروج</a>
        </li>

    </ul>
</div>