{% extends 'base/base.html' %}
{% load humanize %}
{% block title %}
    سوالات من
{% endblock title %}

{% block main %}
    <main class="container my-5 d-flex flex-column gap-4 col-md-6">
        <h2>سوالات من <i class="ri-book-fill"></i></h2>
        <div class="flex flex-column">
            {% if questions %}
                <ol class="list-group">
                    {% for question in questions %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">سوال {{ question.short_id }}</div>
                                تاریخ: {{ question.date_sent|naturalday }}
                            </div>
                            {% if question.is_done == True %}
                                <span class="badge bg-success rounded-pill">جواب داده شده</span>
                            {% else %}
                                <span class="badge bg-warning rounded-pill">در انتظار بررسی</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% else %}
                <p class="alert alert-danger">سوالی یافت نشد.</p>
            {% endif %}
        </div>
    </main>
{% endblock main %}