{% extends 'base/base.html' %}
{% load render_partial %}
{% block title %}
    درباره من
{% endblock title %}

{% block main %}
    <main class="container my-5 d-flex flex-column gap-4 col-md-6">
        <h2>درباره من <i class="ri-user-line"></i></h2>
        {% if about %}
            <div class="d-flex flex-column gap-3">
                <h1>{{ about.name }}</h1>
                <div>

                    {{ about.description|safe }}

                </div>
                <p><i class="ri-phone-line mx-1"></i> شماره تماس: 90147509730</p>
                <p><i class="ri-mail-line mx-1"></i> ایمیل: ali@gmail.com</p>
                {% if about.socials %}
                    <div>
                        {% for network in about.socials.all %}
                            <a href="{{ network.url }}" target="_blank"
                               class="me-4 text-reset text-decoration-none fs-5">
                                <i class="ri-{{ network.name }}-line"></i>
                            </a>
                        {% endfor %}

                    </div>
                {% endif %}
            </div>
        {% else %}
        {% endif %}
    </main>
{% endblock main %}