{% extends 'base/base.html' %}

{% block seo %}
    {% if seo %}
        <meta name="description" content="{{ seo.descriptions }}">
        <meta name="keywords" content="{{ seo.keywords }}">
    {% endif %}
    {% if settings %}
        <meta name="author" content="{{ settings.owner_name }}">
        <link rel="icon" type="image/x-icon" href="{{ settings.site_logo.url }}">
    {% endif %}
{% endblock %}

{% block title %}
    عبدالله برهانی فر
{% endblock title %}

{% block main %}
    <main class="container my-4">
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-success"><i class="ri-checkbox-circle-fill fs-5 mx-1"></i>{{ message }}</p>
            {% endfor %}

        {% endif %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% if products %}
                {% for product in products %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="{{ product.image.url }}" width="400" height="400" title="{{ product.title }}"
                                 class="card-img-top"
                                 alt="{{ product.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.title }}</h5>
                                <p class="card-text">{{ product.description|truncatechars:200 }}</p>
                            </div>
                            <div class="card-footer d-flex flex-column flex-md-row justify-content-around align-items-center">
                                <h5>قیمت: {{ product.price }} تومان</h5>
                                <a href="{% url 'add_order' product.id %}" class="btn btn-success">افزودن به سبد
                                    خرید</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% else %}
                <p class="alert alert-danger">محصولی برای نمایش وجود ندارد.</p>
            {% endif %}
        </div>

    </main>
{% endblock main %}