* {
    font-family: Vazirmatn, sans-serif;
}

.nav-link {
    border-radius: 10px;
}

.nav-link:hover {
    color: green !important;
    transition: all ease 0.3s;
}

.active-btn {
    color: green !important;
}